/* app css stylesheet */

/*++++++++++++++++++++++++++++++++++++++++++++*/
/*General Styling*/
/*++++++++++++++++++++++++++++++++++++++++++++*/
body {
    padding-top: 20px;
    height: 100%;
}

.view-container, .view-frame, .columns {
    height: 100%;
}

h1 {
    border-bottom: 1px solid gray;
}

i {
    vertical-align: middle;
}

/*++++++++++++++++++++++++++++++++++++++++++++*/
/*Todo List Left Pane (Filter/ Nav) Styling*/
/*++++++++++++++++++++++++++++++++++++++++++++*/
.ff-side-nav {
    margin: 0 -31px 0 0;
    border: 1px solid #f2f2f2;
    border-right: 0;
}

.ff-side-nav li {
    text-decoration: none;
    list-style-type: none;
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 0.975rem;
    height: 2.3125rem;
    padding: 0.5rem;
}

.ff-side-nav li i{
    padding-right: 5px;
}

.ff-side-nav li:hover {
    cursor: pointer;
    background-color: #e1e1e1;
}

.ff-side-nav li.active {
    background-color: white;
    border-right: 1px solid white;
    position: relative;
    z-index: 1;
}


/*++++++++++++++++++++++++++++++++++++++++++++*/
/*Todo List Middle Pane (Todo List) Styling*/
/*++++++++++++++++++++++++++++++++++++++++++++*/
#todo-input {
    margin-bottom: 1px;
}

.todo-items-container {
    overflow-y: auto;
    border: 1px solid #f2f2f2;
    border-top: 0;
    border-bottom: 0;
    height: 95%;
    box-shadow: 0 9px 0px 0px white,
                0 -9px 0px 0px white,
                5px 0 5px -4px rgba(0, 0, 0, 0.8),
                -5px 0 5px -4px rgba(0, 0, 0, 0.8);
}

.todos-list li {
    height: 50px;
    background-color: #f2f2f2;
    line-height: 50px;
    margin-bottom: 5px;
}

.slave-list li {
    height: 35px;
    background-color: #f2f2f2;
    line-height: 35px;
    margin-bottom: 5px;
}

.todos-list li div, .slave-list li div {
    padding-left: 15px;
}

.todos-list li div span, .slave-list li div span {
    padding-left: 5px;
}

.todos-list li.selected {
    border: 1px solid lightgrey;
}

.todos-list li:hover {
    cursor: pointer;
    background-color: #e7e7e7;
}

.todos-list li:active {
    background-color: lightgrey;
}

.delete, .complete {
    opacity: 0.5;
    color: grey;
}

.delete {
    margin-top: 17px;
    position: absolute;
    right: 30px;
}

.delete:hover {
    -webkit-transform: scale(1.2);                                                                                                                                              
}

li.completed {
    text-decoration: line-through;
    color: grey;
    font-style: italic;
}


/*++++++++++++++++++++++++++++++++++++++++++++*/
/*Todo List Right Pane (Todo Details) Styling*/
/*++++++++++++++++++++++++++++++++++++++++++++*/
#todo-notes-textarea, .ff-editable {
    height: 100px;
}

hr {
    margin: 10px 0;
}

.ff-editable {
    cursor: pointer;
    font-size: 11px;
    overflow-y: auto;
}

.ff-editable:hover {
    background: #e1e1e1;
}
