/* app css stylesheet */

/*++++++++++++++++++++++++++++++++++++++++++++*/
/*General Styling*/
/*++++++++++++++++++++++++++++++++++++++++++++*/
body {
    padding-top: 20px;
    height: 100%;
    -webkit-user-select: none;
    overflow: hidden;
}

header {
    -webkit-app-region: drag;
    background-color: white;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 15px;
    padding-bottom: 30px;
    height: 25px;
    border-bottom: 1px solid #f2f2f2;
}

.ff-btn-group {
    position: absolute;
    top: 5px;
    left: 15px;
    -webkit-app-region: no-drag;
}

.ff-btn-group i:first-child {
    padding-right: 20px;
}

.view-container, .view-frame, .columns {
    height: 100%;
}

h1 {
    border-bottom: 1px solid gray;
}

i {
    vertical-align: middle;
}

/*++++++++++++++++++++++++++++++++++++++++++++*/
/*Todo List Left Pane (Filter/ Nav) Styling*/
/*++++++++++++++++++++++++++++++++++++++++++++*/
.ff-filter-control-container {
    width: 180px;
    float: left;
    padding: 0 15px;
}

.ff-side-nav {
    margin: 0 -15px 0 0;
    border: 1px solid #f2f2f2;
    border-right: 0;
}

.ff-side-nav li {
    text-decoration: none;
    list-style-type: none;
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 0.975rem;
    height: 2.3125rem;
    padding: 0.5rem;
}

.ff-side-nav li i{
    padding-right: 5px;
}

.ff-side-nav li:hover {
    cursor: pointer;
    background-color: #e1e1e1;
}

.ff-side-nav li.active {
    background-color: white;
    border-right: 1px solid white;
    position: relative;
    z-index: 1;
}


/*++++++++++++++++++++++++++++++++++++++++++++*/
/*Todo List Middle Pane (Todo List) Styling*/
/*++++++++++++++++++++++++++++++++++++++++++++*/
#todo-input {
    margin-bottom: 1px;
}

.todo-items-container {
    overflow-y: auto;
    width: 500px;
    float: left;
    padding: 0 15px;
    border: 1px solid #f2f2f2;
    border-top: 0;
    border-bottom: 0;
    height: 95%;
    box-shadow: 0 9px 0px 0px white,
                0 -9px 0px 0px white,
                -5px 0 5px -4px rgba(0, 0, 0, 0.8);
}

.todos-list li {
    height: 50px;
    background-color: #f2f2f2;
    line-height: 50px;
    margin-bottom: 5px;
}

.todos-list li div, .slave-list li div {
    padding-left: 15px;
}

.todos-list li div span, .slave-list li div span {
    padding-left: 5px;
}

.todos-list li.selected {
    border: 1px solid lightgrey;
}

.todos-list li:hover {
    cursor: move;
    background-color: #e7e7e7;
}

.todos-list li:active {
    background-color: lightgrey;
}

.todo-item {
    position: relative;
}

.delete, .complete {
    opacity: 0.5;
    color: grey;
}

.delete {
    margin-top: 17px;
    position: absolute;
    right: 15px;
}

.delete:hover {
    -webkit-transform: scale(1.2);                                                                                                                                              
}

.delete:hover, .complete:hover {
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    color: grey;
    font-style: italic;
}


/*++++++++++++++++++++++++++++++++++++++++++++*/
/*Todo List Right Pane (Todo Details) Styling*/
/*++++++++++++++++++++++++++++++++++++++++++++*/
.todo-detail {
    z-index: 10;
    padding-left: 55px;
    width: 500px;
    height: 525px;
    background-color: white;
    position: absolute;
    left: 680px;
    -webkit-transition: all 600ms ease;
    box-shadow: -6px 0 5px -4px rgba(0, 0, 0, 0.8);
}

.slave-list li {
    height: 35px;
    background-color: #f2f2f2;
    line-height: 35px;
    margin-bottom: 5px;
}

#todo-notes-textarea, .ff-editable {
    height: 100px;
}

hr {
    margin: 10px 0;
}

.ff-editable {
    cursor: pointer;
    font-size: 11px;
    overflow-y: auto;
}

.ff-editable:hover {
    background: #e1e1e1;
}

.slide-left {
    -webkit-transform: translate3d(-485px, 0, 0);
    -webkit-transition: -webkit-transform 400ms ease;
}

.absolute-icon {
    opacity: 0.5;
    position: absolute;
    left: 15px;
    top: 220px;
    font-size: 37px;
    -webkit-transition: all 600ms ease;
}

.absolute-icon:hover {
    opacity: 0.8;
    -webkit-transition: all 600ms ease;
}

.close-details {
    -webkit-transform: rotate(540deg);
    -webkit-transition: all 600ms ease;
}

